<%- include ('../../shared/includes/head',{pageTitle:"All orders"}) %>

</head>

<body>
  <%- include ('../../shared/includes/header') %> 
  <main>
    <h1>All orders</h1>   
    
  </main>
  
<%- include ('../../shared/includes/footer') %> 
